{% extends "FrontendBundle::layout.html.twig" %}



{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" href="{{asset('css/muyvisible/portada.css')}}"/>
{% endblock %}

{% block body %}
    <header></header>
    <!-- particles.js container -->
    <div id="particles-js"></div>
    <section class="homepage">
        <div class="container">
            <figure class="logo_par">
                <img src="{{asset('images/logo.png')}}" alt="">
            </figure>
            <nav>
                <a href="#"><span class="flaticon-facebook2"></span></a>
                <a href="#"><span class="flaticon-twitter"></span></a>
            </nav>
            <p class="text mayusculas">
                muy visible es un equipo de profesionales creativos en<br> la búsqueda constante y creación<br/>de los mejores contenidos.</br>
            </p>
            <div class="advertising">
                <a href="#contacto">CONTACTO &amp; ADVERTISING</a>
            </div>
            <p class="text_2">
                Ya sea que quieras saludarnos o platicar sobre publicidad, escríbenos y nos pondremos en contacto contigo.
            </p>
            
            <section id="contacto" class="formulario contenido-form">
                {% include 'FrontendBundle:Default:formContacto.html.twig' with {'form': form } %}
            </section>
            <div class="direction">CIUDAD DE MÉXICO | SANTA FE</div>
        </div>
    </section>
    <footer></footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/particles/particles.js')}}"></script>
    <script src="{{asset('js/particles/stats.js')}}"></script>
    <script src="{{asset('js/particles/app.js')}}"></script>
    <script>
        $(document).on('ready',function(){
            
            linkInterno = $('a[href^="#"]');
            linkInterno.on('click',function(e) {
                e.preventDefault();
                var href = $(this).attr('href');
                $('html, body').animate({ scrollTop : $( href ).offset().top }, 'slow');
            });
            
            inicializarBotonEnviarContacto();
        });
        function inicializarBotonEnviarContacto() {
            $("#botonEnviarFormContacto").on('click', function (e) {
                e.preventDefault();
                var $form = $("#formContacto");
                var datos = $form.serialize();
                $(this).attr('disabled', 'disabled').val('Enviando...');
                $.ajax({
                    url: $form.attr('action'),
                    type: 'POST',
                    dataType: 'json',
                    data: datos,
                    success: function (data) {
                        $(".contenido-form").html(data.form);
                        inicializarBotonEnviarContacto();
                        setTimeout(function () {
                            $(".alert-success").fadeOut('fast');
                            $(".alert-error").fadeOut('fast');
                        }, 2000);
						console.log(data);
                    },
                    error: function (data) {
                        alert("Error al enviar el formulario");
                        console.log(data);
                    }
                });
            });
        }
    </script>
{% endblock %}
