{% extends "FrontendBundle::layout.html.twig" %}

{% set urlAbsoluta = 'http://' ~ app.request.server.get('SERVER_NAME') %}

{% set urlAbsolutaFoto = urlAbsoluta ~ asset('images/logo.png') %}
                                
{% block redes_sociales %}
    
    <meta property="og:url" content="{{url('homepage')}}" />
    <meta property="og:title" content="Muy Visible" />
    <meta property="og:description" content="Muy Visible contenidos." />
    <meta property="og:image" content="{{ urlAbsolutaFoto }}" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="muyvisible.com" />
    <meta property="fb:app_id" content="1461130887533217">
    <!--meta property="fb:admins" content="100000062710915"-->
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Muy Visible" />
    <meta name="twitter:description" content="Muy Visible contenidos." />
    <meta name="twitter:url" content="{{url('homepage')}}" />
    <meta name="twitter:site" content="@MuyVisible" />
    <meta name="twitter:image:src" content="{{ urlAbsolutaFoto }}" />
    <meta name="twitter:domain" content="muyvisible.com" />
    
    
    <meta itemprop="name" content="Muy Visible" />
    <meta itemprop="description" content="Muy Visible contenidos." />
    <meta itemprop="image" content="{{ urlAbsolutaFoto }}" />
    
    
    <meta name="pubexchange:headline" content="Muy Visible" />
    <meta name="pubexchange:description" content="Muy Visible contenidos." />
    <meta name="pubexchange:image" content="{{ urlAbsolutaFoto }}" />
    
{% endblock %}  

{% block class_body ' class="noticias"' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="screen" href="{{asset('css/muyvisible/publicacion.css')}}"/>
    {% if app.environment == 'prod' %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-63720003-1', 'auto');
        ga('send', 'pageview');

      </script>
    {% endif %}
{% endblock %}

{% block body %}
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        {% include 'FrontendBundle:Default:header.html.twig' with {'noFixed': true } %} 
        <div class="sin-portada"></div>  
        <section class="cuerpo">
        <div class="main-wrapper">
        <section class="central list-articles">
            {% include 'FrontendBundle:Default:listado.html.twig' with { 'publicaciones': publicaciones } %}
        </section>
        <aside class="derecha">
            <div class="contenedor-aside">
                <div class="publicidad-der">
                    {% if app.environment == 'prod' %}
                        <!-- Aside1 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:280px"
                             data-ad-client="ca-pub-5524852012428343"
                             data-ad-slot="1444051116"></ins>
                    {% else %}    
                        <img style="width:300px;" src="http://placehold.it/300x250/ffffff/ffffff" alt="">
                    {% endif %}
                </div>
                <div class="facebook-box">
                    
                </div>
                <div class="lo-mas-visto">
                    <h3 class="title title-azul">LO MAS VISTO</h3>
                    <ul class="list list-lomasvisto">
                        {% for publicacionlm in lomasvisto %}
                        <li class="item item-lomasvisto">
                            <a href="{{path('publicacion',{'slug':publicacionlm.slug})}}">
                              <span class="numero">{{loop.index}}</span>
                              <div class="contenido contenido-lomasvisto">
                                  <figure class="portada portada-mini">
                                      <img src="{{publicacionlm.webPath | imagine_filter('image_portada_mini')}}" alt=""/>
                                  </figure>
                                  <h4 class="title title-lomasvisto">{{publicacionlm.title}}</h4>
                              </div>  
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="publicidad">
                    {% if app.environment == 'prod' %}
                        <!-- Aside 3 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:600px"
                             data-ad-client="ca-pub-5524852012428343"
                             data-ad-slot="2920784315"></ins>
                    {% else %}    
                        <img style="width:300px;" src="http://placehold.it/300x250/ffffff/ffffff" alt="">
                    {% endif %}
                </div>
            </div>
        </aside>
        </div>
    </section>

    <footer></footer>
    
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            var $imagenes = $(".contenido-publicacion img");
            var contador = 1;
            $imagenes.each(function(index,imagen){
               var figure = $("<figure/>");
               var img = $("<img/>");
               figure.append(img);
               img.attr({'src':$(imagen).attr('src'),'id': 'imagen-'+contador});
               $(imagen).before(figure);
               contador++;
               $(imagen).remove();
            });
            cargarMasArticlesA();
            
            (adsbygoogle = window.adsbygoogle || []).push({});
            
        });
        
        function cargarMasArticlesA(){
            $(".cargar-mas-articles a").on('click',function(e){
                e.preventDefault();
                var $parent = $(this).parent();
                $.ajax({
                   url: $(this).attr('href'),
                   type: 'GET',
                   dataType: 'html',
                   success: function(data){
                       $parent.before(data);
                       $parent.remove();
                       cargarMasArticlesA();
                   }, 
                   error: function(data){
                       alert("Error");
                       console.log(data);
                   }
                });
            });
        }

    </script>
{% endblock %}
